body {
  margin      : 0;
  text-align  : center;
  font-family : 'Merriweather', serif;
}

h1 {
  margin-top  : 0;
  font-family : 'Sacramento', cursive;
}

h2 {
  font-family : 'Montserrat', sans-serif;
}

h3 {
  font-family : 'Montserrat', sans-serif;
}

.top-container {
  position         : relative;
  padding-top      : 100px;
  background-color : #E4F9F5;
}

.middle-container {
  width            : 200px;
  height           : 200px;
  background-color : red;
}

.bottom-container {
  width            : 200px;
  height           : 200px;
  background-color : blue;
}

.pro {
  text-decoration : underline;
}

.top-cloud {
  position : absolute;
  top      : 50px;
  right    : 300px;
}

.bottom-cloud {
  position : absolute;
  bottom   : 300px;
  left     : 300px;
}
